# Node modules
node_modules/

# Environment variables
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Optional: output/temp files
dist/
build/
